#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}
#myCarousel{
    background-color:dodgerblue;
}
#myCarousel img{
    height: 300px;
    margin-top: 35px;
}
.Carousel-inner p{
   margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}
#myCarousel2{
    background-color: midnightblue;
}
#myCarousel2 img{
    height: 300px;
    margin-top: 35px;
}